* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #161a21;
  --footer: #282828;
  --left: black;
  --header: #00000050;
  --green: #c0fc5b;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  color: #fff;
}

/* BASE STYLING */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.button {
  padding: 5px;
  border-radius: 25px;
}

/* CONTAINER */

.container {
  height: 100vh;
  width: 100vw;
  display: grid;

  grid-template:
    /* 'Left Header Header' 80px */
    'Left Main' 1fr
    'Footer Footer' auto /
    auto 1fr;
}

.Left {
  padding: 20px;
  grid-area: Left;
  background-color: var(--left);
  border: 2px solid #a54388;
}
/* Main */
.Main {
  grid-area: Main;
  background-color: var(--main);
  border: 2px solid #00ffff;
  overflow: scroll;
}

/* Main Header */
.Main__Header {
  position: sticky;
  top: 0;
  padding: 20px;

  background-color: var(--header);

  display: grid;

  align-items: center;
  justify-items: right;
}

.Main__Header__button {
  margin-right: 10px;
  padding: 12px;

  border-radius: 20px;
  width: 130px;
  text-transform: uppercase;
  font-size: 1.2em;
  background: var(--left);
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
}
/* Footer */
.Footer {
  grid-area: Footer;

  padding: 20px;
  background-color: var(--footer);
  border: 2px solid #6e975a;
}
